<h1>Segmenting and Clustering Neighborhoods in the city of Toronto, Canada</h1>

<h3> Coursera - IBM Applied Data Science Capstone - Week 3 PART 2</h3>

<h4>In order to utilize the Foursquare location data, we need to get the latitude and the longitude coordinates of each neighborhood.</h4>

Import librariers

In [16]:
import pandas as pd

<h3> 1. Get the geographical coordinates</h3>

In [17]:
url='https://cocl.us/Geospatial_data/Geospatial_Coordinates.csv'
df_coor=pd.read_csv(url)
df_coor.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Adjust column name - the name of the column containing the postcode must be the same in both files.

In [18]:
df_coor = df_coor.rename(columns = {'Postal Code':'Postcode'}) 
df_coor.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

Get the data from Part 1

In [19]:
df_toronto2=pd.read_csv('Capstone_week3_part1.csv')
df_toronto2.head()

   Unnamed: 0 Postcode      Borough                           Neighbourhood
0           0      M1B  Scarborough                          Rouge, Malvern
1           1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2           2      M1E  Scarborough       Guildwood, Morningside, West Hill
3           3      M1G  Scarborough                                  Woburn
4           4      M1H  Scarborough                               Cedarbrae

Merge data frames - based on Postcode

In [20]:
df_toronto2 = pd.merge(df_toronto2, df_coor, on = 'Postcode')
df_toronto2.head()

,Unnamed: 0,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [21]:
df_toronto2.shape

(103, 6)

In [22]:
df_toronto2.to_csv('Capstone_week3_part2.csv')